<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="../../public/css.css">
</head>
<body>
    <div class="dentro">
    <h2>Como você deseja se cadastrar?</h2>
    <a href="../cadastro/informacaopersonal.html">
    <div class="imgCentro">
        <h2 class="contaFonte">Personal</h2>
    </div>
    </a>
    <br>
    <a href="../cadastro/informacaoaluno.html">
    <div class="imgCentro2">
        <h2 class="contaFonte">Aluno</h2>
</div>
</div>
</a>




    <!-- Importação do JavaScript do bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>