<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="../../public/css.css">
</head>
<body>
    <div class="centro">
    <div class="input-group flex-nowrap" id="login">
  <h3>Nome</h3>
  <input type="text" class="form-control" placeholder="Digite seu nome" aria-label="Username" aria-describedby="addon-wrapping">
 <h3>E-mail</h3>
<input type="text" class="form-control" placeholder="Digite seu e-mail" aria-label="Username" aria-describedby="addon-wrapping">
<h3>Senha</h3>
<input type="text" class="form-control" placeholder="Digite sua senha" aria-label="Username" aria-describedby="addon-wrapping">
<h3>Repita a senha</h3>
<input type="text" class="form-control" placeholder="Repita sua senha" aria-label="Username" aria-describedby="addon-wrapping">
<h3>Possui algum problema de saúde?</h3>
<input type="text" class="form-control" placeholder="Se possui escreva qual" aria-label="Username" aria-describedby="addon-wrapping">
<h3>Qual é o seu gênero?</h3>

<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Escolha</option>
  <option value="1">Homem</option>
  <option value="2">Mulher</option>
  <option value="3">Não sei</option>
</select>

<h3>Qual é o seu objetivo</h3>

<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Escolha</option>
  <option value="1">Perder peso</option>
  <option value="2">Ganhar massa</option>
  <option value="3">Saúde</option>
</select>

<div class="logCenter d-grid gap-2 col-6 mx-auto">
    <br>
<button class="btn btn-info btn-maior" type="button">Entrar</button>
</div>
</div>
</div>



    <!-- Importação do JavaScript do bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>