<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="../../public/css.css">
</head>
<body>
    <!-- Logo -->
    <img src="../../imagens/Logo academia neon verde (3).png" alt="" height="300" width="" id="logo">

    <!-- Input de e-mail e senha -->
    <div class="logCenter">
    <div class="input-group flex-nowrap" id="login">
  <h1>E-mail</h1>
  <input type="text" class="form-control" placeholder="Digite seu e-mail" aria-label="Username" aria-describedby="addon-wrapping">
<br>
 <h1>Senha</h1>
<input type="text" class="form-control" placeholder="Digite sua senha" aria-label="Username" aria-describedby="addon-wrapping">
</div>
</div>
<br><br>
<!-- botão entrar -->
<div class="logCenter d-grid gap-2 col-6 mx-auto">
<button class="btn btn-info btn-maior" type="button">Entrar</button>
<a href="../cadastro/criarConta.html">
<h1>Criar conta</h1>
</a>
</div>


   





    <!-- Importação do JavaScript do bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>